<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>先輩袋</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/stylesheets/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>

  <body>
    <header>
    </header>
    
    <main>
      <div class="container z-depth-2">
        <form action="login" method="post" class="text-center p-5">
		
		  <p class="h1 mb-4">先輩袋</p>
			
		<hr>
          <p class="h4 mb-4">ログイン</p>

          <!-- Email -->
          <label>
            <input type="email" name="email" class="form-control mb-4" placeholder="E-mail" required>
          </label><br />
          
          <!-- Password -->
          <label>
            <input type="password" name="password" class="form-control mb-4" placeholder="Password" required>
          </label>
          
          <hr />

          <div class="d-flex justify-content-around">
              <div>
                  <!-- Remember me -->
                  <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                      <label class="custom-control-label" for="defaultLoginFormRemember">内容を記憶する</label>
                  </div>
              </div>
              <div>
                  <!-- Forgot password -->
                  <a href="">パスワードを忘れましたか</a>
              </div>
          </div>

          <!-- Sign in button -->
          <button class="btn btn-primary btn-block my-4" type="submit">
            <i class="fas fa-user-plus"></i>
            ログイン
          </button>

          <!-- Register -->
          <p>アカウントがありませんか？
              <a href="/signup">新規登録</a>
          </p>

        </form>
        <!-- Default form login -->
      </div>
    </main>

    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/javascripts/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/javascripts/mdb.min.js"></script>
  </body>
</html>
